<nav class="sidebar">
  <!-- <div class="logo">
    <img src="" alt="logo" />
  </div> -->
  <div class="logo">
    <a routerLink="dashboard" routerLinkActive="active">
        <i class="fa-solid fa-circle-dollar-to-slot fa-xl icon-brand"></i>
       TrackWise
      </a>
  </div>

  <ul class="nav-links">
    <li class="nav-item">
      <a [routerLink]="['/home','dashboard']" routerLinkActive="active">
        <i class="fa-solid fa-bars icon-dashboard"></i>

        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home','budgets']" routerLinkActive="active">
        <i class="fa-solid fa-piggy-bank icon-budgets"></i>

        Budget
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="'/home/expenses'" routerLinkActive="active">
        <i class="icon-expenses fa-solid fa-list-check"></i>
        Expense
      </a>
    </li>
  </ul>
</nav>
