@if(isFetching){
<p>data is fetching.</p>
} @else{

<div class="budgets-container">
  <div *ngFor="let budget of budgets; let i = index" class="budget-card">
    <div class="budget-info">
      <div class="budget-category-info">
        <div class="budget-icon">
          <!-- <i class="fa-solid fa-list-check"></i> -->
          <img width="30" height="30" [src]="imagesSrc[i]" alt="shop-local" />
        </div>
        <div class="budget-name">
          <h4>{{ budget.name | titlecase }}</h4>
          <p>{{ budget.items }} Item{{ budget.items > 1 ? "s" : "" }}</p>
        </div>
      </div>
      <h3>${{ budget.total }}</h3>
    </div>
    <div class="budget-dates">
      <p>{{ start_date | date : "mediumDate" }}</p>
      <p>{{ end_date | date : "mediumDate" }}</p>
    </div>
    <div class="budget-details">
      <div>
        <p>${{ budget.spent }} Spent</p>
      </div>
      <div>
        <p>${{ budget.remaining }} Remaining</p>
      </div>
    </div>
    <div class="progress-bar">
      <div
        class="spent-bar"
        [style.width.%]="(budget.spent / budget.total) * 100"
      ></div>
    </div>
  </div>
</div>

}
