.budgets-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  padding-right: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.budget-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
}

.budget-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  height: 8px;
  background-color: #d3d7e3;
  border-radius: 4px;
  margin: 10px 0;
  overflow: hidden;
}
.budget-dates{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spent-bar {
  height: 100%;
  background-color: #6a5bcd;
}

.budget-details {
  display: flex;
  justify-content: space-between;
}

h4 {
}

h3 {
  color: #6a5bcd;
}
p {
  font-size: 15px;
  color: #565656;
}

.budget-category-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.budget-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e5f8;
  border-radius: 50%;
  color: white;
}

/* scrollbar */
.budgets-container::-webkit-scrollbar {
  
  width: 3px; /* Scrollbar width */
  border-radius: 10px;
}

.budgets-container::-webkit-scrollbar-track {
  background: #ffffff; /* Scrollbar track color */
  border-radius: 10px;
}

.budgets-container::-webkit-scrollbar-thumb {
  background-color: #fff; /* Scrollbar thumb color */
  border-radius: 20px;
  /* border: 2px solid #e0e0e0; Adds space between thumb and track */
}

.budgets-container::-webkit-scrollbar-thumb:hover {
  background-color: #a69ddf; /* Darker shade on hover */
}
